fastapi
uvicorn[standard]
python-multipart
python-dotenv

pydantic[email]
pydantic-settings

langchain
langchain-core
langchain-community
langchain-google-genai
google-api-core
langchain-pinecone
langchain-text-splitters
langgraph

pinecone
motor
pymongo

bcrypt
python-jose[cryptography]


pypdf
docx2txt


httpx


setuptools
wheel